{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "no-shadow": [
      "error",
      {
          "hoist": "off"
      }
  ]
  }
}